body{
    background-color: antiquewhite;
}



.body img{
    padding: 5px;
    border-style: dashed;
}

/* Estilo de las listas de TEMARIO */
.body{
    list-style-position: inside;
    a{
        color: chocolate;
        justify-content: center;
        text-decoration: none;
        display: flex;
    }

    a:hover{
        color: brown;
        background-color: burlywood;
    }

    h1{
        background-color: rgb(250, 224, 186);
    }
}

/* Estilo para coneceptos basicos, avanzados y generales */
.body_basic{
    margin-left: 5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1{
        background-color: rgb(250, 224, 186);
    }
}


/* Estilo para los codigos */
.body_codes{
    margin-left: 5%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1{
        background-color: rgb(250, 224, 186);
    }

    li{
        list-style: none;
    }

    a{
        margin: 0;
        display: flex;
        padding: 10px;
        color: black;
        text-decoration: none;
        font-size: 30px;
    }

    a:hover{
        background-color: aliceblue;
        color: brown;
        border-radius: 5px;
    }
}


/*Estilo de los iframe de pdfs*/
.body_codes{
    iframe{
        width: 80%;
        height: 600px;
        -ms-zoom: normal;
    }
}

.main{
    margin-left: 5%;
}

.comic{
    display: flex;

    img{
        width: 30%;
    }
    p{
        width: 70%;
    }
}

#domino{
    text-align: center;
}

#cuestionario{
    margin-left: 5%;
}